{% extends 'layout.html' %}

{% block content %}
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">Phi</h1>
			<h5>A Static Site Generator</h5>
			<hr />
		</div>
		<div class="two-thirds column">
			{{ page.content }}
		</div>
		<div class="one-third column">
			<h4>文章列表</h4>
			<ul class="square">
				{% for article in site.articles|sort_by_date_desc %}
					<a href="{{ article.url }}">
						<li>
							<strong>{{ article.title }}</strong>&nbsp;&nbsp;
							{{ article.content|excerpt|truncate(50) }}
						</li>
					</a>
				{% endfor %}
			</ul>
		</div>
{% endblock %}