<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<meta charset="{{ site.encoding }}">
<title>{{ page.title }}</title>
<meta name="description" content="">
<meta name="author" content="">

<!--[if lt IE 9]>
	{% js "http://html5shim.googlecode.com/svn/trunk/html5.js" %}
<![endif]-->

{% css "css/base.css" %}
{% css "css/skeleton.css" %}
{% css "css/layout.css" %}
{% css "css/prism.css" %}
{% js "js/prism.js" %}
{% favicon "favicon.ico" %}

</head>
<body>
	<div class="container">
	{% block content %}
	{% endblock %}
	</div>
</body>
</html>
