<?php

class :classname implements \Phi\Generator {

	public function getName() {
		// name of your generator
		return ":name";
	}

	public function generate($context) {
		// generate result
	}
}